<html>

<head>
    <style>
        #reset-password {
            background-color: #17a2b8;
            color: white;
            font-size: 18px;
            padding: 10px;
            border: solid 2px green;
            width: 70%;
            margin-left: auto;
            margin-right: auto;
        }

        .hi-tag {
            font-weight: bold;
        }

        .link {
            text-decoration: none;
            color: white !important;
        }

        .custom-button {
            background-color: indianred;
            color: white !important;
            border: none;
            padding: 10px 25px;
            text-align: center;
            display: inline-block;
            font-size: 16px;
            margin: 4px 0px;
            cursor: pointer;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <div id="reset-password">
        <h1 style="text-align:center;">Reset your password</h1>
        <p class="hi-tag">Hi <%= userName.firstName %> <%= userName.lastName %>,</p>
        <p class="message-body"> It looks like you’ve forgotten your password. Don’t worry, you can reset your
            password by clicking the button below.</p>
        <span class="custom-button">
            <a class="link" target="_blank"
            href="<%= url %>/reset-password/<%= userId %>/<%= authToken %>">
                Reset Password</a></span>
    </div>
</body>

</html>